# API
MONGODB_URI="mongodb://localhost:27017/studyapp"
JWT_ACCESS_SECRET="replace-with-at-least-32-random-characters"
JWT_REFRESH_SECRET="replace-with-a-different-32-character-secret"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="30d"
API_PORT=3000
NODE_ENV="development"

# Mobile (copy to apps/mobile/.env)
EXPO_PUBLIC_API_URL="http://10.0.2.2:3000/api/v1"
MOBILE_API_URL="http://10.0.2.2:3000/api/v1"
